body {
  font-family: "Courier New",'Courier New', Courier, monospace;
  font-style: normal;
  background: linear-gradient(to right, rgb(252, 0, 255), rgb(0, 219, 222));
}
button{
  cursor: pointer;
}